/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.theme-primary-color {
    color: #FE7743;
}

.theme-secondary-color {
    color: #143D60;
}

.theme-white-color {
    color: #EFEEEA;
}

.theme-black-color {
    color: #000000;
}